body {
  font-family: "Helvetica Neue",sans-serif;
}

#myScrollspy {
  font-size: 20px;
}

#contenu1 .list-group-item.active {
background-color:rgb(245,143,10);
border-color:rgb(245,143,10);
color:white;
}

#contenu1 a.list-group-item{
color:rgb(245,143,10);
font-weight: bold;
}

#contenu1 .gras {
font-weight: bold;
}

#contenu1 .color {
color:rgb(245,143,10);
}

#contenu1 h3,h4{
color:rgb(245,143,10);
}

#contenu1 .lienstext, a {
color:black;
}

#contenu1 .lienstext, a:hover {
color:rgb(245,143,10);
}

#contenu2 a:hover {
color:rgb(215,219,49)
}

#ref {
color:black;
}
